/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 3500

&mmv { time-to-max-speed-ms = <600>; };

/ {
    behaviors {
        AltWindow: AltWindow {
            compatible = "zmk,behavior-tap-dance";
            label = "ALTWINDOW";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&kp LEFT_GUI>;
        };

        EnterArrow: EnterArrow {
            compatible = "zmk,behavior-tap-dance";
            label = "ENTERARROW";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&mo 2>;
        };

        TabEsc: TabEsc {
            compatible = "zmk,behavior-tap-dance";
            label = "TABESC";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp ESC>;

            tapping-term-ms = <200>;
        };

        Layer2ouDRG: Layer2ouDRG {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER2OUDRG";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&tog 5>;
        };
    };

    combos {
        compatible = "zmk,combos";

        MouseCombo {
            bindings = <&tog 3>;
            key-positions = <5 16>;
            timeout-ms = <350>;
            layers = <0 1 2>;
        };

        MouseCombo2 {
            bindings = <&tog 3>;
            key-positions = <9 10>;
            layers = <0 2 1>;
            timeout-ms = <350>;
        };
    };

    macros {
        bluetooth_macro: bluetooth_macro {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to2 &bt BT_SEL MACRO_PLACEHOLDER &kp F24>,
                <&macro_tap>;

            label = "BLUETOOTH_MACRO";
        };

        PrintScreen: PrintScreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &kp LEFT_SHIFT &kp S>,
                <&macro_release>,
                <&macro_press>;

            label = "PRINTSCREEN";
        };
    };

    keymap {
        compatible = "zmk,keymap";
        wakeup-source;

        Basee {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&TabEsc         &kp Q  &kp W  &kp E        &kp R      &kp T                     &kp Y       &kp U  &kp I         &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D        &kp F      &kp G                     &kp H       &kp J  &kp K         &kp L    &kp SEMI  &kp RET
&kp LCTRL       &kp Z  &kp X  &kp C        &kp V      &kp B                     &kp N       &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp DEL
                              &EnterArrow  &kp SPACE  &mt LEFT_ALT BACKSPACE    &AltWindow  &mo 1  &Layer2ouDRG
            >;

            label = "Base";
        };

        Prograa {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH  &kp MINUS  &none    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &trans
&trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none          &kp EQUAL  &none    &kp N6        &kp N7        &kp N8        &kp N9        &kp N0  &kp PAGE_UP
&trans  &none                 &kp APOS               &none          &none      &sl 4    &kp GRAVE     &none         &none         &none         &none   &kp PAGE_DOWN
                                                     &none          &none      &none    &none         &none         &none
            >;

            label = "Progra";
        };

        Setaa {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp HOME  &kp UP_ARROW  &kp END          &kp C_VOLUME_UP  &kp C_VOLUME_DOWN    &kp C_VOLUME_UP    &none           &none           &none            &none  &trans
&trans  &kp LEFT  &kp DOWN      &kp RIGHT_ARROW  &none            &none                &kp C_VOLUME_DOWN  &none           &kp UP_ARROW    &kp RIGHT_ARROW  &none  &trans
&trans  &none     &none         &none            &none            &none                &none              &kp LEFT_ARROW  &kp DOWN_ARROW  &none            &none  &trans
                                &none            &none            &none                &none              &none           &none
            >;

            label = "Seta";
        };

        Mousee {
            bindings = <
&trans    &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &kp C_VOLUME_UP  &kp C_VOLUME_DOWN    &kp C_VOLUME_UP    &none           &mkp MB3        &mkp MB2         &mkp MB1        &trans
&mkp MB1  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none            &kp ENTER            &kp C_VOLUME_DOWN  &none           &mmv MOVE_UP    &mmv MOVE_RIGHT  &msc SCRL_DOWN  &trans
&mkp MB2  &none           &mmv MOVE_DOWN  &none            &none            &tog 3               &none              &mmv MOVE_LEFT  &mmv MOVE_DOWN  &none            &none           &trans
                                          &mkp MB4         &mkp MB3         &mkp MB5             &mkp MB4           &mkp MB5        &msc SCRL_UP
            >;

            label = "Mouse";
        };

        Function {
            bindings = <
&none         &bluetooth_macro 0  &bluetooth_macro 1  &bluetooth_macro 2  &none  &none             &kp F1   &kp F2   &kp F3  &kp F4  &kp F5   &none
&PrintScreen  &none               &none               &none               &none  &none             &kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &none
&none         &none               &none               &none               &none  &tog 4            &kp F11  &kp F12  &none   &none   &none    &none
                                                      &none               &none  &bt BT_CLR_ALL    &none    &none    &none
            >;

            label = "Functionn";
        };

        DRG {
            bindings = <
&trans  &trans  &trans        &trans        &trans        &tog 5    &trans  &trans  &trans  &trans  &trans  &kp N5
&trans  &trans  &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp NUMBER_3  &kp NUMBER_2  &kp NUMBER_4  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                              &kp NUMBER_1  &trans        &trans    &trans  &trans  &trans
            >;

            label = "DRGG";
        };
    };
};
